* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}


@media screen and (orientation: landscape) {
    .container {
        background-color: yellow;
    }
}

@media screen and (orientation: portrait) {
    .container {
        background-color: blue;
    }
}